{%  extends 'base.html.twig' %}

{% block body %}
<h1> {{title}}</h1>
{% if age > 18 %}
    <p> Tu peux faire mieux que çà</p>
{% else %}
    <p> Tu est une vrai battante</p>
{% endif %}

<p>bonjour chers tous </p>
{% endblock %}